@font-face {
    font-family: 'Departure Mono';
    src: url(assets/DepartureMono-Regular.otf);
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: black;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-section {
    background: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-section h1 {
    font-family: 'Departure Mono', monospace;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-top: -50px;
    transition: color 0.3s ease;
}

.welcome-section p {
    font-family: 'Departure Mono', monospace;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    margin-top: -20px;
    transition: color 0.3s ease;
}

.welcome-section h1:hover,
.welcome-section p:hover {
    color: #00ff00;
    cursor:grab;
}


.cat-image {
    background: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.cat-image img {
    display: block;
    margin: 0 auto;
    margin-top:50px;
    width: 300px;
    height: auto;
    transition: width 0.3s ease, height 0.3s ease;
}

.cat-image img:hover {
    width: 320px;
    height: auto;
    cursor: pointer;
}

.links-section {
    background: transparent;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links-section ul,
.links-section ol {
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    list-style: none;
}

.links-section li {
    display: inline-block;
    padding: 0 10px; 
    text-align: center;
}

.links-section a {
    font-family: 'Departure Mono', monospace;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    list-style: none;
    text-decoration: none;
    transition: color 0.1s ease;
}

.links-section a:hover {
    color: #ff87eb;
    cursor: pointer;
}

#threejs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100vw;
    max-width: 100vw;
    height: 400px;

    max-height: 50vh;
    position: relative;
}

@media (max-width: 900px) {
    #threejs-container {
        height: 300px;
        max-height: 40vh;
    }
}

@media (max-width: 600px) {
    #threejs-container {
        height: 200px;
        max-height: 30vh;
    }
    .welcome-section h1 {
        font-size: 1.2rem;
    }
    .links-section a {
        font-size: 0.9rem;
    }
}

